/*

Additional Admin Styles for the Compost Plugin for Plant

Created by: 	Ivo Janssen
For:		Code Dealers
		Plant

*/

iframe {
	width: 918px;
	height: 517px;
	}

	p img	{
		margin: 20px 0;
		border: 1px solid #CCCCCC;
		}

	.quotetype textarea {
		font-size: 38px;
		margin-bottom: 40px;
		height: 200px;
	}
	
	fieldset p {
		font-size: 0.7em;
   		margin-bottom: 1em;
		}

textarea {
	display: block;
	width: 900px;
}

th {
	display: none;
}
	
	.comments > li {
		list-style: none;
		position: relative;
		padding-top: 2em;
		padding-bottom: 3em;
		padding-left: 1em;
		display: block;
	}
	
	.comments p {
		margin-left: 0;
		font-size: 1.1em;
	}
	
	.comments small {
		clear: left;
		display: block;
		font-size: .7em;
	}

	.comments .author {
		margin-bottom: 1em;
	}
	
		.comments .author strong {
			font-size: 1.3em;
		}
	
	.comments .options {
		list-style: none;
		margin-left: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #DBE3D5;
		color: inherit;
	}
	
		.comments .options li {
			float: right;
			display: block;
			font-size: .7em;
			font-weight: bold;
			border-left: 2px solid #fff;
		}
		
			.comments .options li a {
				display: block;
				width: 7em;
				text-align: center;
				text-decoration: none;
				line-height: 2em;
				color: #729D6D;
				background-color: #DBE3D5;
			}
	
			.comments .delete a:link, .comments .delete a:visited {
				
			}
			
			.comments .delete a:hover, .comments .delete a:active, .comments .delete a:focus {
				background-color: #D03030;
				color: #fff;
			}
			
			.comments .approve a:link, .comments .approve a:visited {
				
			}
			
			.comments .approve a:hover, .comments .approve a:active, .comments .approve a:focus {
				background-color: #A3C78B;
				color: #fff;
			}
			
		.comments .options .next {
			float: right;
			font-weight: normal;
		}
		
table.drafts {
	margin-bottom: 80px;
	border-bottom: 1px solid #D5D5D5;
	}		
				
			
	.messages {
		height: 80px;
	}	

#delete_action_move_category_container {
	display: inline;
}

#ed_toolbar {
	margin-bottom: 0;
}

/* ------ Ed toolbar ------ */

#ed_toolbar {
	margin: 5px 0 0;
	background-color: #7d807b;
}

	#ed_toolbar input {
		font-size: 11px;
		padding: 5px 8px;
		border-width: 0 1px 0 0;
		border-style: solid;
		border-color: #9d9d9d;
		color: #fff;
		background: #7d807b;
		margin: 0;
		}
	
		#ed_toolbar input:hover {
			cursor: pointer;
			color: #fff;
			background-color: #595959;
			border-color: #464c42;
			-moz-box-shadow: inset 0 1px 2px 1px #464c42;
			-webkit-box-shadow: inset 0 1px 2px 1px #464c42;
			box-shadow: inset 0 1px 2px 1px #464c42;
			}
	
	#ed_toolbar #ed_bold {
		font-weight: bold;
	}
	
	#ed_toolbar #ed_italic {
		font-style: italic;
	}
	
/* ----- related items tool ----- */	
	
	#related-items li, #related-results li {
		padding: 4px 0;
		font-size: 12px;
		}
	
	#related-items ul, #related-results ul {
		margin-left: 0;
		overflow: hidden;
		}	
	
#related-items {
	float: left;
	clear: none;
	width: 280px;
	margin-right: 20px;
	}
	
	#related-items li .remove {
		color: #7e9f70;
		background-color: inherit;
		font-size: 10px;
		padding-left: 4px;
		}
		
		#related-items li .remove:hover {
			cursor: pointer;
			color: #333;
			background-color: inherit;
			}
	
#related-results {
	float: right;
	overflow: hidden;
	width: 600px;
	}
	
	#related-results div {
		float: left;
		clear: none;
		width: 280px;
		margin-right: 20px;
		clear: none;
		}
		
		#related-results div:nth-child(2n+1) {
			clear: both;
			}
	
#related-results li {
	color: #729D6D;
	background-color: inherit;
	cursor: pointer;
	padding-right: 35px;
	position: relative;
	float: left;
	clear: both;
	}

	#related-results li:hover {
		color: #333;
		background-color: inherit;
		}
		
		#related-results li:hover:after {
			display: block;
			content: "(add)";
			font-size: 10px;
			color: #888;
			background-color: inherit;
			top: 5px;
			right: 0;
			position: absolute;
			display: block;
			}	
		
/* ---------- */	
	
	.subnavigation a.active {
		color: #607452;
		background-color: inherit;
		text-decoration: underline;
		}