/*

Basic Styles for the Compost Plugin for Plant

Created by: 	Ivo Janssen
For:		Code Dealers
		Plant

*/

aside {
	float: right;
	width: 150px;
	padding: 0 1em 30px;
	text-align: left;
}

	aside fieldset {
		padding: 0;
	}
	
	aside form {
		text-align: left;
		margin: 0;
	}
	
	aside #archives h3 {
		margin-bottom: 1em;
	}
	
	aside li {
		margin: 0;
	}
	
	aside ul {
		list-style: none;
	}

		aside #search .submit {
			font-size: .8em;
		}

		aside #search_query_container input {
			width: 100%;
		}
		
		aside #search_query_container label {
			display: none;
		}

h2 {
	text-align: left;
}

#content {
	width: 580px;
}

#wrapper {
	min-width: 760px;
}

.post.main h1 {
	margin-bottom: .5em;
}
		
.supertitle {
	display: none;
}